{#
/**
 * @file
 * Default theme file to display a hub_reference item.
 *
 * Available variables:
 * - title: Name of the hub reference.
 * - content: hub reference content.
 *
 * @see template_preprocess_hub_reference()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'hub-reference',
    'hub-reference--type-' ~ hub_reference.bundle()|clean_class,
    not hub_reference.isPublished() ? 'hub-reference--unpublished',
    view_mode ? 'hub-reference--view-mode-' ~ view_mode|clean_class,
    'event-listing-row'
  ]
%}
<article{{ attributes.addClass(classes) }}>
  {{ title_suffix.contextual_links }}
  {% if content %}
    <div class="news-listing-img">
      <div class="short-date">
        <span class="month">{{ hub_reference.hub_field_hub_event_date.value|date('M') }}</span>
        <span class="day">
          {{ hub_reference.hub_field_hub_event_date.value|date('j') }}{{ not single_day ? '+' }}
        </span>
      </div>
      {{ content.hub_field_hub_event_listing_image }}
    </div>
    <div class="news-listing-tags">
      <div class="date">
        <span class="icon icon-event-calendar"></span>
        {% if single_day %}
          {{ hub_reference.hub_field_hub_event_date.value|date('F j, Y') }}, {{ hub_reference.hub_field_hub_event_date.value|date('g:i A') }} - {{ hub_reference.hub_field_hub_event_date.end_value|date('g:i A') }}
        {% else %}
          {{ hub_reference.hub_field_hub_event_date.value|date('l, F j, Y') }} - {{ hub_reference.hub_field_hub_event_date.end_value|date('l, F j, Y') }}, {{ hub_reference.hub_field_hub_event_date.value|date('g:i A') }} - {{ hub_reference.hub_field_hub_event_date.end_value|date('g:i A') }}
        {% endif %}
      </div>
      {{ content.hub_field_hub_event_location }}
      {{ content.hub_field_hub_event_type }}
    </div>
    <div class="news-listing-prv">
      {{ content|without('hub_field_hub_event_listing_image','hub_field_hub_event_date','hub_field_hub_event_location','hub_field_hub_event_type') }}
    </div>
  {% endif %}
</article>
