{#
/**
 * @file
 * Default theme file to display a hub_reference item.
 *
 * Available variables:
 * - title: Name of the hub reference.
 * - content: hub reference content.
 *
 * @see template_preprocess_hub_reference()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'hub-reference',
    'hub-reference--type-' ~ hub_reference.bundle()|clean_class,
    not hub_reference.isPublished() ? 'hub-reference--unpublished',
    view_mode ? 'hub-reference--view-mode-' ~ view_mode|clean_class,
    'blog-listing-row'
  ]
%}
<article{{ attributes.addClass(classes) }}>
  {{ title_suffix.contextual_links }}
  {% if content %}
    <div class="news-listing-img">
      {{ content.hub_field_hub_blog_listing_image }}
    </div>
    <div class="news-listing-tags">
      {{ content.hub_field_hub_blog_date }}
      {{ content.hub_field_hub_blog_location }}
      {{ content.hub_field_hub_blog_type }}
    </div>
    <div class="news-listing-prv">
      {{ content|without('hub_field_hub_blog_listing_image','hub_field_hub_blog_date','hub_field_hub_blog_location','hub_field_hub_blog_type') }}
    </div>
  {% endif %}
</article>