{#
/**
 * @file
 * Default theme file to display a hub_resource_field item.
 *
 * Available variables:
 * - content: hub resource content.
 *
 * @see template_preprocess_hub_resource_field()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'hub-resource-field',
    'hub-resource-field--name-' ~ field_name|clean_class,
    'hub-resource-field--type-' ~ field_type|clean_class,
    'hub-resource-field--label-' ~ label_display,
  ]
%}
{%
  set title_classes = [
    'hub-resource-field__label',
    label_display == 'visually_hidden' ? 'visually-hidden',
  ]
%}

<div{{ attributes.addClass(classes) }}>
  {% if not label_hidden %}
    <div{{ title_attributes.addClass(title_classes) }}>{{ label }}</div>
  {% endif %}
  {% if multiple %}
    <div>
  {% endif %}
  {% for item in items %}
    {% set uri = 'mailto:' ~ resource_obj.field_hub_adm_rep_email[0].value %}
    <div{{ item.attributes.addClass('hub-resource-field__item') }}><span class="icon icon-envelope"></span><a href="{{ uri }}" rel="noreferrer">{{ item.content }}</a></div>
  {% endfor %}
  {% if multiple %}
    </div>
  {% endif %}
</div>
