{#
/**
 * @file
 * Displays the 2 column program detail layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}
{% if content %}
  <div {{ attributes.addClass('layout--program-detail-2col','section','slash') }}>
    <div class="row">
      <div class="col-xs-12 col-md-7 col-lg-8">
        {% if content.main %}
          <div {{ region_attributes.main.addClass('layout__region', 'layout__region--main', 'prog_left') }}>
            {{ content.main }}
          </div>
        {% endif %}
      </div>

      <div class="col-xs-12 col-md-5 col-lg-4">
        {% if content.right %}
          <div {{ region_attributes.right.addClass('layout__region', 'layout__region--right', settings.sidebar_classes) }}>
            {% if settings.sidebar_title %}
              <h3>{{ settings.sidebar_title }}</h3>
            {% endif %}
            {{ content.right }}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endif %}
