{% if wrapper == 'section' %}
<section id="Sect-{{ par_id }}" class="section{% if wrapper_class %} {{ wrapper_class }}{% endif %}">
  <div>
{% endif %}
    <div class="card{% if class %} {{ class }}{% endif %}">
        {% if image %}
          {% if tag %}
            <div class="type">{{ tag }}</div>
          {% endif %}
          {% if button.url %}
          <a href="{{ button.url }}">
              {{ image }}
          </a>
          {% elseif title_link %}
          <a href="{{ title_link }}">
              {{ image }}
          </a>
          {% else %}
          <span>
            {{ image }}
          </span>
          {% endif %}
        {% endif %}
        <div class="content">
          <div>
          {% if icon %}
              <span class="{{ icon }}"></span>
          {% endif %}
            <div class="title">
          {% if title %}
              <h3>{% if title_link %}<a href="{{ title_link }}">{% endif %}{{ title }}{% if title_link %}</a>{% endif %}</h3>
          {% endif %}
          {% if subtitle %}
              <div class="subtitle h4">{{ subtitle }}</div>
          {% endif %}
            </div>
          {% if body %}
            <div class="body">
              {{ body }}
            </div>
          {% endif %}
          {{ button }}
          </div>
        </div>
    </div>
{% if wrapper %}
  </div>
</section>
{% endif %}
