<header {% if heroType != null %}class="{{ heroType }}"{% endif %}>
  {% if heroVid|length > 0 %}
    <video width="320" height="240" autoplay="true" poster="{% if heroVidPoster != "/" %}{{ heroVidPoster }}{% elseif heroVidPosterUrl != null %}{{ heroVidPosterUrl }}{% endif %}" loop>
      {% for vid in heroVid %}
        {% if vid.upload != "/"  %}
          <source src="{{ vid.upload }}" type="video/{{ vid.type }}">
        {% elseif vid.url != null %}
          <source src="{{ vid.url }}" type="video/{{ vid.type }}">
        {% endif %}
      {% endfor %}
      {% if heroVidPoster != "/" %}
        <img src="{{ heroVidPoster }}" alt="{{ heroVidPosterAlt }}">
      {% elseif heroVidPosterUrl != null %}
        <img src="{{ heroVidPosterUrl }}" alt="{{ heroVidPosterAlt }}">
      {% endif %}
    </video>
  {% elseif heroImg != null %}
    {{heroImg}}
  {% endif %}
    {% if heroTitle %}
    <div class="hero_title">
      <div>
        <h1>{{ heroTitle }}</h1>
      </div>
    </div>
    {% endif %}
  {% if breadcrumb is iterable %}
  <div class="breadcrumb">
    <div>
      <nav aria-label="Breadcrumb" class="bc">
        <ol>
        {% for item in breadcrumb %}
          <li>
            {% if item.url %}
              <a href="{{ item.url }}">{{ item.text }}</a>
              <a href="{{ item.url }}" class="mobile">One Level Back</a>
            {% else %}
              <a href="{{ item.url }}" aria-current="page">{{ item.text }}</a>
              <a href="{{ item.url }}" aria-current="page" class="mobile">One Level Back</a>
            {% endif %}
          </li>
        {% endfor %}
        </ol>
      </nav>
    </div>
  </div>
  {% else %}
  <div class="breadcrumb">
    <div>
      <nav aria-label="Breadcrumb" class="bc">
        <ol>
          <li><a href="#">This</a></li>
          <li><a href="#">Is</a></li>
          <li><a href="#">A</a></li>
          <li><a href="#">Test</a></li>
        </ol>
      </nav>
    </div>
  </div>
  {% endif %}
</header>
