  <figcaption style="left: {{ posLeft }}%; top: {{ posTop }}%">
    <input type="checkbox" id="hotspot-{{ id }}">
    <label for="hotspot-{{ id }}">+</label>
    <div>{{ copy|raw }}</div>
  </figcaption>
